@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Cousine);
@import url(https://fonts.googleapis.com/css?family=Tinos);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

.swiper-slide section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

.swiper-slide p {
  margin: 20px 0;
  line-height: 1.3; }


.swiper-slide dt {
  font-weight: bold; }

.swiper-slide dd {
  margin-left: 40px; }

.swiper-slide blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.swiper-slide blockquote p:first-child,
.swiper-slide blockquote p:last-child {
  display: inline-block; }

.swiper-slide q {
  font-style: italic; }

.swiper-slide pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.swiper-slide section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.swiper-slide section img.plain {
  border: 0;
  box-shadow: none; }

.swiper-slide a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.swiper-slide section svg .highlightedNote path,
.swiper-slide section svg g.note.highlightedNote,
.swiper-slide section svg .highlightedNote {
  stroke: blue;
  fill: blue; }

.swiper-slide section svg .passedNote path,
.swiper-slide section svg g.note.passedNote,
.swiper-slide section svg .passedNote {
  stroke: forestgreen !important;
  fill: forestgreen !important;
}

.swiper-slide section svg .failedNote path,
.swiper-slide section svg g.note.failedNote,
.swiper-slide section svg .failedNote {
  stroke: #cc0000;
  fill: #cc0000; }

/* Get rid of the pageheads that aren't the first page. */
g[class^='pgHead']:not(.pgHead) {
  display: none; }

/** Changes for PianoRoll Presentation. **/
/* Pick tetradic colors based from the linkColor,
   Then four more tetradic colors starting from an analogous color.*/

/** Changes for Text Presentation. **/
div.header {
  overflow: auto; }

div.header span.title {
  font-size: 120%;
  display: block; }

div.header span.lyricist {
  float: left;
  font-size: 80%; }

div.header span.composer {
  float: right;
  font-size: 80%; }

span.footer {
  float: left;
  font-size: 80%; }

/* Allow different verses to be distinguished. */
.swiper-slide section p[data-verse-num]:not([data-verse-num='1']) {
  font-style: italic; }

p[data-verse-num] span {
  transition: border-bottom 0.1s;
  border-bottom: 0 solid #00008B; }

p span.highlightedNote {
  color: #00008B;
  border-bottom: 10px solid #00008B; }

p span.passedNote {
  color: #60DE7D;
  border-bottom: 10px solid #60DE7D; }

p span.failedNote {
  color: #D2062F;
  border-bottom: 10px solid #D2062F; }

/* Monospace Font: Cousine */
.swiper-slide section svg {
  font-family: 'Cousine', monospace; }

/* Verovio Text Font: Tinos */
.swiper-slide section svg g.page-margin {
  font-family: 'Tinos', 'Times New Roman', 'Times', 'Liberation Serif', serif; }

/* Verovio SMuFL Font: Bravura */
html {
  font-family: Bravura;
  background: #fff;
}

.btn{
  color: blue
}

.btn2{
  color: darkgoldenrod;
}





